@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    @apply hidden
}

.name{
    font-family: 'pacifico';
    margin-top: -100px;
    margin-left: 0px;
}
